<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<body>

	<br>

	<div id="controller">
		<div id="video">
			<iframe id="video-iframe"
				src="{{ url_for('static', filename='html/video.html') }}"
				webkitallowfullscreen mozallowfullscreen allowfullscreen
				width="100%" height="100%" frameborder="0"> </iframe>
		</div>
	</div>

</body>
</html>
