/* HELVETICA!!! */
body {
    -webkit-user-select	: none;
    -moz-user-select	: none;
    font-family: 
        "HelveticaNeue-Light", 
         "Helvetica Neue Light", 
         "Helvetica Neue", 
         Helvetica, 
         Arial, 
         "Lucida Grande", 
         sans-serif; 
    font-weight: 300;
    overflow : hidden;
    padding : 0;
    margin : 0;
    letter-spacing: 1px;
    background-color: #111118;
}

#controller {
    position: relative;
    margin: auto;
    width: 640px;
    height: 480px;
}

#video {
    width: 640px;
    height: 480px;
}

#video-iframe {
    background-color: rgba(200,200,225,1.0);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 50%;
}
